html {
  background:  black;
}

#console {
  background:  #222;

  min-width:   720px;
  min-height:  480px;

  width:       60vw;
  height:      40vw;

  margin:      0 auto;
}

.char-box {
  width:       1.25%;
  height:      4.00%;

  color:       #0F0;
  font-family: monospace;
  font-weight: bold;
  text-align:  center;
  font-size:   120%;

  display:     inline-block;
  margin:      0;
  padding:     0;
}
